/* #b9fff2
#6cdeff
#00a3d3
#00778d
#006351
#f9f9f9
*/

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #b9fff2;
}
.row{
  margin: 0px;
}

.header{
  color: #00778d;
  font-size: 40px;
  text-align: center;
  margin: 40px auto;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 2px #6cdeff;
  box-shadow: -5px 5px #00778d, -10px 10px #00a3d3, -15px 15px #6cdeff;
  letter-spacing: 2px;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.coinItems{
  /* box-shadow: 5px 5px 20px #00778d; */
  box-shadow: -5px 5px #00778d, -10px 10px #00a3d3, -15px 15px #6cdeff;
  border-radius: 5px;
  background-color: #006351;
  color: #b9fff2;
  font-size: 15px;
  margin: 10px auto;
  padding: 15px;
}

.summaryHeader{
  color: #f9f9f9;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.summaryHeaderRate{
  text-align: right;
}
.subHeader{
  font-weight: bold;
  text-align: center;
  color: #b9fff2;;
}

.summaryResult{
  text-align: center;
  font-size: 20px;
  color: white;
}

.detailInfo{
  border: 1px solid #b9fff2;
  border-radius: 5px;
  background-color: #00778d;

}

.infoContainer{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.transactionBtn{
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-image: linear-gradient(to right, #6cdeff 0%, #00a3d3 100%);
}

.transactionBtn:hover {
  /* border: 2px solid red; */
  color: lightgray;
}

.transactionBtn:focus{
  outline: none;
}

.panel-default{
  border: none;
}

.panel{
  margin: 0px;
}

.panelBodyCustom{
  color: #00778d;
  background-color: #b9fff2;
  border-radius: 5px;
}

.transactionHeaders{
  font-weight: 600;
  color: #00778d;
}

.transDetailContainer{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #00778d;
  border-radius: 5px;
  background-color: white;
  font-size: 13px;
}

.coinInput{
  border: none;
  width: 100%;
}

#submitBtn{
  background-color: #00778d;
  font-weight: 600;
  color: white;
}

.submitContainer{
  margin-top: 5px;
  border: 1px solid #6cdeff;
  background-color: #00a3d3;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .noXSPadding{
    padding: 0px;
  }
}
